#footer-container{
background-color: black;
color: white;
font-weight: 20%;

}

.nav-item >.nav-link {
    color: white !important;
}

.nav.flex-column {
    display: block;
    margin-right: 36px;
}

#app-logo {
    margin-bottom: 1rem !important;
    padding-left: 80px;
}

.inline-span{
    display: flex;
    gap: 50px;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}
